blinker
click
colorama
dnspython
email-validator
Flask
Flask-Mail
Flask-MySQLdb
idna
importlib-metadata
itsdangerous
Jinja2
MarkupSafe
mysqlclient
packaging
passlib
plotly
tenacity
timeago
Werkzeug
WTForms
zipp